.container-azul{
    display: flex;
    flex-direction: column;
}

.dados{
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

form{
    
    display: grid;
    width: 100%;
    place-content: center;
    padding-top: 2%;
    grid-row-gap: 10px;
}

form button{
    width: auto;
    display: grid;
    padding: 0PX 40PX 0PX 40PX;
    place-self: center;
    cursor: pointer;
    font-size: clamp(1rem, 0rem + 3.2vw, 1.2rem);
}

#inputFilme{
    width: 80vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid transparent;
    padding-left: 10px;
}

