body{
    height: 100vh;
    background-color: var(--secundary-color);
    display: grid;
    grid-template-rows: 400px 1fr;
}

header{
    color: var(--primary-color);
    font-size: clamp(7rem, -2rem + 24vw, 10rem);
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}


main{
    width: 100%;
}

.container{
    width: 100%;
}

.container-login{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-row-gap: 30px;
    place-items: center;
    width: 100%;
    cursor: pointer;
    padding-bottom: 30px;
}


.user{
    width: 200px;
    height: 200px;
    transition: .3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user:hover{
 transform: scale(1.2);
}