*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #db0000;
    --secundary-color: #000000;
    --white-color: #ffffff;
    --gray-color: #564d4d;
    --dark-primary-color: #831010;
}

a{text-decoration: none; color: #ffff; transition: .3s ease-in-out;}
ul,li,ol{list-style: none;}


body{
    height: 100vh;
    background-color:  var(--secundary-color);
    display: grid;
    grid-template-rows: 60px 1fr;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
}

.logo{
    font-size: clamp(2rem, -2rem + 11vw, 3rem);
    color: var(--primary-color);
    font-family: 'Bebas Neue', cursive;
}


.menu-container{
    height: 100%;
    font-size: clamp(0.7rem, -0.5rem + 3.2vw, 1.3rem);
    gap: 3%;
    text-transform: uppercase;
    font-family: 'Open Sans', cursive;
}


.container{
    width: 100%;
    height: 100%;
    background-color: #831010;
}

span{
    color: #ffffff;
    font-family: 'Open Sans', cursive;
    font-size: 2rem;
}



@media (max-width:500px) {
    .container_dados_escrita h1{
        width: 90%;
    }

    .card-container{
        justify-content: center;
    }

    .container-azul{
        padding: 8%;
    }
    
}