*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #db0000;
    --secundary-color: #000000;
    --white-color: #ffffff;
    --gray-color: #564d4d;
    --dark-primary-color: #831010;
}

a{text-decoration: none; color: #ffff; transition: .3s ease-in-out;}
ul,li,ol{list-style: none;}


body{
    height: 100vh;
    background-color:  var(--secundary-color);
    display: grid;
    grid-template-rows: 60px 1fr;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
}

.logo{
    font-size: clamp(2rem, -2rem + 11vw, 3rem);
    color: var(--primary-color);
    font-family: 'Bebas Neue', cursive;
}


.menu-container{
    height: 100%;
    font-size: clamp(0.7rem, -0.5rem + 3.2vw, 1.3rem);
    gap: 3%;
    text-transform: uppercase;
    font-family: 'Open Sans', cursive;
}

.teste{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teste2{
    width: 90%;
    height: 80%;
    background-image: url(../img/netflix-library-1280x720.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    z-index: 0;
}
.teste2::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 15px;
    z-index: -1;
}

.teste3{
    width: 100%;
    height: 100%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
    font-family: 'Open Sans', cursive;
    gap: 2vh;
}

.teste3 h1{
    font-size: clamp(2rem, -0.5rem + 8vw, 4rem);
    width: 60%;
}

.teste3 h2{
    font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
}

.container{
    width: 100%;
    height: 100%;
    color: #D8E2EC;
    background-color: #112233;
}

.container-home{
    background-color: #B63165;
}

.container-vermelho{
    background-color: #C0392B;
}

.container-azul{
    background-color: #5991B1;
}

.container-roxo{
    background-color: #785EDD;
}

.container-laranja{
    background-color: #EB6B56;
}


@media (max-width:500px) {
    .teste3 h1{
        width: 90%;
    }
}